/*PC*/
@media (min-width: 1024px) {
}

/*Tablet and Mobile*/
@media (max-width: 1023px) {
  .btn {
    padding: 15px 16px;
  }

  .contact-form .form-controll {
    padding: 15px;
  }

  #footer .socials-list {
    font-size: 38px;
  }

  #footer .socials-list a {
    margin: 0 8px;
  }
}

/*Mobile*/
@media (max-width: 739px) {
  .s-btn-full-width,
  .s-col-1 {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px;
  }

  #header {
    overflow: hidden;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #header .nav-search-button {
    display: none;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav li a {
    padding: 2px 24px;
  }

  #nav .subnav {
    /* position: initial; */
    background-color: #333;
  }

  #nav .subnav li a {
    color: #fff;
    padding: 8px 41px;
  }

  #nav .subnav.mobile-menu-open {
    position: initial;
    display: block;
  }

  #content .content-section {
    padding-bottom: 64px;
  }

  #content .members-list {
    margin-top: 0;
  }

  #content .member-item {
    width: 100%;
    margin-top: 30px;
  }

  #content .member-img-frame {
    height: 325px;
    margin: 15px auto;
  }

  .contact-form {
    margin-top: 16px;
  }

  .contact-info {
    line-height: 2;
  }

  #slider .text-description {
    opacity: 0;
  }

  #slider .text-heading {
    opacity: 0;
  }
}
