/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Main*/
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/*Common*/
.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.col-4 {
  width: calc(100% / 4);
}

.text-center {
  text-align: center !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.pull-right {
  float: right !important;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 11px 16px;
  margin-top: 15px;
  display: inline-block;
  border: none;
  text-align: center;
  appearance: none;
  /*fix input style for safari*/
  -webkit-appearance: none;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}

/*Header*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: black;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  line-height: 46px;
  padding: 0px 24px;
  display: inline-block;
  width: 100%;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: black;
  background-color: #ccc;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav {
  position: absolute;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  min-width: 160px;
  top: 100%;
  left: 0;
}

#nav .subnav li {
  display: block;
  width: 100%;
}

#nav .subnav li a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down-icon {
  font-size: 14px;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .mobile-menu-btn,
#header .nav-search-button {
  float: right;
  padding: 0 21px;
}

#header .nav-search-button:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .mobile-menu-btn:hover {
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .nav-menu-icon {
  color: #000;
}

#header .nav-menu-icon,
#header .nav-search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

/*Slider*/
#slider {
  position: relative;
  margin-top: 46px;

  padding-top: 50%;
  background: url(../img/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
  /* Solu1 : set middle*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  /* Solu2 : set middle*/
  /* 
    text-align: center;
    width: 100%; 
    */

  /* Solu3 : set middle */
  /* 
    text-align: center;
    left: 0;
    right: 0; 
    */

  color: #fff;
  bottom: 48px;
}

#slider .text-heading {
  font-size: 32px;
  font-weight: 500;
  text-shadow: 0 0 1px #000;
}

#slider .text-description {
  font-size: 20px;
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}

/*Content Common*/
#content .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 113px;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-heading {
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 30px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

/*Content About*/
#content .about-text {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

#content .members-list {
  margin-top: 48px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img-frame {
  width: 90%;
  height: 200px;
  margin-top: 15px;
  border-radius: 4px;
}

#content .member-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/*Content Tour*/
#content .tour-section {
  background-color: #000;
}

#content .tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

.places-list {
  margin-top: 16px;
}

.places-list .place-img-frame {
  width: 100%;
  height: 150px;
  border: 1px solid #fff;
}

.places-list .place-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places-list .place-img:hover {
  opacity: 0.6;
}

.places-list .place-body {
  background-color: #fff;
  font-size: 15px;
  padding: 16px;
}

.places-list .place-heading {
  font-size: 15px;
  font-weight: 600;
}

.places-list .place-time {
  margin-top: 15px;
  color: #757575;
}

.places-list .place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

/* Contact */
.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.6;
}

.contact-info i[class*="ti-"] {
  display: inline-block;
  width: 30px;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-controll {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .socials-list {
  font-size: 24px;
}

#footer .socials-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

/*Modal Interface*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);

  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-container {
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  background: #fff;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  height: 130px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(25, 23, 23, 1) 52%,
    rgba(0, 0, 0, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  color: #fff;
}

.modal-header .modal-icon-bag {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets {
  width: 100%;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(25, 23, 23, 1) 52%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
  font-size: 15px;
  padding: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#buy-tickets:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
