:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;
  --height-header: 120px;
  --height-navbar: 42px;
  --height-header-with-search: calc(
    var(--height-header) - var(--height-navbar)
  );
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*~10px*/
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;

  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  /*(100% / 12)x2*/
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid__column-2-5 {
  /*(100% / 10)x2*/
  padding-left: 12px;
  padding-right: 12px;
  width: 20%;
}

.grid__column-10 {
  /*(100% / 12)x10*/
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3331%;
}

.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 0 12px;
  cursor: pointer;
  outline: none;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}

.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--disable {
  cursor: default;
  color: #949494;
  background-color: #c3c3c3;
}

.select-input {
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  position: relative;
  top: 2px;
}

.pagination {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  margin: 0 16px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
  background-color: #ed5c3f;
}

.pagination-item__link {
  --height-pagination-link: 30px;
  text-decoration: none;
  font-size: 2rem;
  color: #939393;
  min-width: 40px;
  height: var(--height-pagination-link);
  line-height: var(--height-pagination-link);
  display: block;
  text-align: center;
  border-radius: 3px;
}

@media screen and (max-width: 1024px) {
  .grid {
    max-width: 87%;
  }
}
