.header {
  height: var(--height-header);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--height-navbar);
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;

  /*Fix: Set horizontal and center position for all li tags */
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--has-qrcode:hover .header__qr {
  display: block;
}

.header__navbar-item-link,
.header__navbar-item {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-icon-link:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-icon-link,
.header__navbar-item-link,
.header__navbar-item {
  display: inline-flex;
  align-items: center;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;

  position: absolute;
  height: 16px;
  border-left: 1px solid #fb9086;
  right: -9px;

  /*when change height - don't need change top property -> element always is center*/
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}

.header__qr {
  width: 216px;
  background-color: var(--white-color);

  position: absolute;
  left: 0;
  top: 120%;

  padding: 8px;
  border-radius: 2px;

  display: none;

  animation: fadeIn ease-in 1s;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*
    - Fix error: when hover header then move down to qr-code so qr-code disappear
    - Reason: position of header__qr is further than the position of hover element 
    - Solution = create a layer in the middle
*/
.header__qr::before {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  top: -20px;

  width: 100%;
  height: 20px;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

/*Get first element ~ same firstChild*/
.header__qr-download-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-download-link:nth-child(2) {
  margin-right: 11px;
}

.header__qr-download-img {
  height: 1.8rem;
}

.header__notify {
  position: absolute;
  top: 36px;
  right: 0;

  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  display: none;

  /*set the center of the moving effect*/
  transform-origin: calc(100%-32px) top;
  animation: headerNotifyOpen ease-in 0.5s;
  /*alert to browser: pptimize motion for properties*/
  will-change: opacity, transform;

  z-index: 5;
}

.header__notify::before {
  content: "";
  display: block;

  position: absolute;
  right: 12px;
  top: -30px;

  border-style: solid;
  border-width: 20px 26px;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
  content: "";
  display: block;

  position: absolute;
  right: 0;
  top: -30px;

  width: 90px;
  height: 50px;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

@keyframes headerNotifyOpen {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #999;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  margin: 0 0 0 12px;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f1f1f1;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.3);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 15%;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 3.4rem;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 16px 0;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn linear 0.2s;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  position: relative;
  z-index: 1;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;

  --grow-from: 0.7;
  --grow-to: 1;
  animation: growth linear 0.2s;
}

.authen-form {
  width: 500px;
}

.authen-form-signIn {
  display: none;
}

.authen-form-signUp {
  display: none;
}

.modal.open {
  display: flex;
}

.modal.open .authen-form-signUp {
  display: block;
}

.authen-form__container {
  padding: 0 32px;
}

.authen-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authen-form__header-title {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.authen-form__header-switch-btn {
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 400;
}

.authen-form__form {
  margin-top: 16px;
}

.authen-form__group {
  margin-top: 16px;
}

.authen-form__input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.authen-form__input:focus {
  border-color: #999;
}

.authen-form__rule {
  margin-top: 18px;
}

.authen-form__policy {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}

.authen-form__policy-link {
  color: var(--primary-color);
  text-decoration: none;
}

.authen-form__controll {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.authen-form__controll-back {
  margin-right: 8px;
}

.authen-form__controll-back:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.authen-form__soical {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.authen-form__soical-facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.authen-form__soical-google {
  background-color: var(--white-color);
}

.authen-form__soical-icon {
  font-size: 1.8rem;
}

.authen-form__soical-title {
  margin: 36px;
}

.authen-form__help {
  display: flex;
  justify-content: flex-end;
}

.authen-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.authen-form__help-separate {
  display: block;
  height: 22px;
  border: 1px solid var(--border-color);
  margin: -4px 16px 0;
}

.authen-form__help-forgot {
  color: var(--primary-color);
}

.header-with-search {
  height: var(--height-header-with-search);
  display: flex;
  align-items: center;
}

.header__logo {
  width: 200px;
  padding-left: 2rem;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 50%;
  border-radius: 5px;
}

.header__search {
  flex: 1;
  height: 40px;

  background-color: var(--white-color);

  border-radius: 3px;

  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__cart-notice {
  position: absolute;
  top: -9px;
  right: -5px;

  background-color: var(--white-color);
  color: var(--primary-color);

  border: 2px solid #ee4d2d;
  border-radius: 10px;

  line-height: 1.4rem;
  font-size: 1.4rem;
  padding: 1px 7px;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 10px);
  right: 1px;
  width: 400px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 2px 5px #ccc;
  display: none;
  cursor: default;
  animation: fadeIn ease-in 0.5s;
  z-index: 1;
}

.header__cart-list::after {
  position: absolute;
  content: "";
  display: block;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-list-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-list-no-cart-img {
  width: 50%;
  display: none;
}

.header__cart-list-no-cart-message {
  font-size: 1.4rem;
  display: block;
  margin-top: 17px;
  color: var(--text-color);
  display: none;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: 105%;
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 5px #999;
  display: none;
  z-index: 1;
}

.header__search-history-heading {
  font-size: 1.4rem;
  margin: 6px 12px;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0; /*loại bỏ padding mặc định của ul*/
  margin-bottom: 0; /*loại bỏ margin mặc định của ul*/
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-history-item:hover {
  background-color: #999;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

.header__search-input {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 1.4rem;
  border-radius: 3px;
}

.header__search-option {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-option:hover .header__search-option-list {
  display: block;
}

.header__search-option-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-option-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px;
  position: relative;
  top: 2px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  outline: none;
  width: 60px;
  height: 34px;
  margin-right: 3px;
  cursor: pointer;
}

.header__search-btn:hover {
  background-color: #ec593c;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-option-list {
  position: absolute;
  right: 0;
  top: 120%;
  width: 133px;
  list-style: none;
  box-shadow: 0 1px 3px #ccc;
  padding-left: 0;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 1;
}

.header__search-option-list::before {
  content: "";
  display: block;

  width: 100%;
  height: 30px;

  position: absolute;
  right: 0;
  top: -30%;
}

.header__search-option-item {
  padding: 8px 8px;
  background-color: var(--white-color);
  cursor: pointer;
}

.header__search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__cart-heading {
  font-size: 1.4rem;
  text-align: left;
  margin: 8px 0 8px 12px;
  color: #999;
  font-weight: 400;
}

.header__cart-items-list {
  padding-left: 0; /*Remove default padding of ul*/
  list-style: none;

  height: 55vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-item-img {
  width: 45px;
  height: 45px;
  margin: 12px;
  border: 1px solid var(--border-color);
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-info-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 5px;

  /* font-size: 1.4rem;
    line-height: 2rem;
    height: 4rem;
    overflow: hidden;
    flex: 1;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    margin: 0;
    padding-right: 16px; */
}

.header__cart-item-price {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.4rem;
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 5px;
  color: #757575;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-info-controll {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  font-size: 1.3rem;
  color: #757575;
  font-weight: 300;
  margin-left: 6px;
}

.header__cart-item-remove {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-item-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-item-view-cart:hover {
  background-color: #f05d41;
}

.header__navbar-register-btn.hide {
  display: none;
}

.header__navbar-logIn-btn.hide {
  display: none;
}

.header__navbar-user.open {
  display: flex;
}

.header__navbar-user {
  display: none;
  /* display: flex; */
  justify-content: center;
  padding-top: 2px;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 8px;
}

.header__navbar-user-menu {
  list-style: none;
  padding-left: 0;

  position: absolute;
  right: 0;
  top: calc(100% + 5px);

  width: 160px;

  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px #e0e0e0;

  z-index: 1;
  display: none;
  animation: fadeIn ease-in-out 0.5s;
}

.header__navbar-user-item {
  width: 100%;
  padding: 8px 16px;
}

.header__navbar-user-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item:hover {
  background-color: #ccc;
}

.header__navbar-user-item a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;

  display: block;
  padding: 5px 0;
}

.header__navbar-user-menu::before {
  content: "";
  display: block;

  position: absolute;
  right: 12px;
  top: -25px;

  border-style: solid;
  border-width: 20px 26px;
  border-color: transparent transparent var(--white-color) transparent;
  z-index: -1;
}

.header__navbar-user-item--logout-btn {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 3px;
}

.category__heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 13px 16px;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 11px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(calc(-50% - 1px));

  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  display: block;
  padding: 9px 16px;

  position: relative;
  right: 0;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

.home-filter {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.select-input__home {
  position: relative;
}

.select-input__home:hover .select-input__item-list {
  display: block;
}

.select-input__item-list {
  position: absolute;
  list-style: none;
  left: 0;
  right: 0;
  top: 25px;

  border-radius: 2px;
  background-color: var(--white-color);
  padding: 13px 17px;
  display: none;
  z-index: 1;
}

.select-input__item-link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
}

.select-input__item-link:hover {
  color: var(--primary-color);
}

.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-controll {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  display: flex;
  text-decoration: none;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-btn-icon {
  color: #ccc;
}

.home-filter__page-btn-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

.home-product {
  margin-top: 3px;
  margin-bottom: 28px;
}

.home-product-item {
  display: block;
  text-decoration: none;
  background-color: var(--white-color);
  position: relative;
  margin-top: 25px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.2s;
  will-change: transform;
}

.home-product-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  /*
        - set square image with large image
    */
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: none;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-color);
  padding: 0 10px;
  margin: 10px 0;

  /*set text with 2 line*/
  height: 3.6rem; /*twice line-height*/
  overflow: hidden;

  /*disolay ... if text is too long*/
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  /*when text is too long and want to display 1 line with 3 dot at end*/
  /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap; /*if text is too long => break line*/
}
.home-product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  cursor: pointer;
}
.home-product-item__like {
  font-size: 1.4rem;
}

.home-product-item__like--active {
  color: #ec593c;
  display: none;
}

.home-product-item__like--active.open {
  display: inline-block;
}

.home-product-item__like--active.close {
  display: none;
}

.home-product-item__like--no-active.open {
  display: inline-block;
}

.home-product-item__like--no-active.close {
  display: none;
}

.home-product-item__rating {
  font-size: 0.7rem;
  color: #d5d5d5;

  /* transform: scale(0.7);
    transform-origin: right; */
  margin-left: auto;
}

.home-product-item__rating-gold-star {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  color: #595959;
  font-size: 1.3rem;
  font-weight: 200;
}

.home-product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;

  color: var(--primary-color);
  background-color: currentColor;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favorite::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  bottom: -3px;

  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favorite span {
  color: var(--white-color);
}

.home-product-item__favorite i {
  font-size: 0.9rem;
  margin: 0 3px 0 5px;
  color: var(--white-color);
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 36px;

  background-color: rgb(255, 216, 64, 0.94);
  text-align: center;
}

.home-product-item__sale-off::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  bottom: -4px;

  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgb(255, 216, 64, 0.94) transparent
    rgb(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 3px 0;
  display: block;
}

.home-product-item__sale-off-label {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--white-color);
}

.home-product__pagination {
  margin: 48px 0 32px 0;
}

.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 13px;
  background-color: var(--white-color);
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 3px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin-top: -1px;
  margin-right: 8px;
}

.footer__download {
  display: flex;
}

.footer__download-img-qr {
  width: 80px;
  object-fit: contain;
  border: 1px solid var(--border-color);
}

.footer__download-app {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-app-img {
  height: 25px;
}

.footer__download-app-link {
  text-decoration: none;
  color: transparent;
}

.footer__bottom {
  background-color: #f5f5f5;
  padding: 9px 0;
  margin-top: 25px;
}

.footer__text {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--grow-from));
  }
  to {
    transform: scale(var(--grow-to));
  }
}
